.movie-table {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensure items are evenly spaced */
  padding: 0;
  list-style: none;
  justify-content: flex-start;
}

.flex-item {
  flex: 1 1 auto; /* Allow items to grow and shrink as needed */
  width: calc(
    100% / 6
  ); /* Adjust this value based on the number of items per row */
  margin: 0; /* Ensure no margin between items */
}

.flex-item img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any inline gaps */
}
