.Header-container {
  display: grid;
  grid-template-columns: calc(75px + 2%) 5% 7% 10% 7%;
  margin-bottom: 15px;
  font-size: 1.2vw;
  background-color: #334468;
}

.Header-container > :not(:last-child) {
  margin-right: 10px;
}

.Link {
  font-weight: 200;
  color: white;
  padding-top: 27px;
  text-decoration: none;
}

.logo {
  width: 75%;
  height: auto;
}
